/* Reset CSS */
* h1, h2, h3, p,ul,li{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
} *
ul,ol{
    list-style: none;
}
section {
    padding: 120px 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #434455;
}
.container{
    width: 1158px;
    margin: 0 auto;

}
.header-container .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    width: 1158px;
    margin: 0 auto;
    border-bottom: 1px solid #e7e9fc;
}
nav {
    flex-grow: 1;
}

.logo {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2e2f42;
        text-decoration: none;
}
.logo:hover,
.logo:focus {
    color: #4d5ae5;}

.logo-web {
   
    color: #4d5ae5;
}

 .header-nav {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-transform: capitalize;
        display: flex;
        gap: 40px;
        margin-right: auto;
        margin-left: 76px;

        
 }
    .header-nav .link {  
        text-decoration: none;
        color: #2e2f42;
        padding: 24px 0;
    }
 
    .header-nav .link:hover,
    .header-nav .link:focus {
        color: #404bbf;
        
    }
.address ul {
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            font-style: normal;
            display: flex;
            gap: 40px;
            margin-top: 0;
            margin-bottom: 0;
            padding: 24px 0;
            
}
.address-link {
           font-size: 16px;
           line-height: 1.5;
           letter-spacing: 0.02em;
           text-decoration: none;
           color: #434455;
}
    .address-link:hover,
    .address-link:focus {
        color: #404bbf;
    }
.hero-section {
    background-color: #2e2f42;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    
h1 {
    
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;    
        color: #ffffff;
        max-width: 496px;
        margin-bottom: 48px;
}       
.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    cursor: pointer;
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15); 
}
.button:hover,
.button:focus {
    background-color: #404BBF;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.features  {
    display: flex;
    gap: 24px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    
}
.features-list {
    width: calc(100% - 72) / 4;
}
.features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42; 
    padding-bottom: 8px;
}
.features-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.team-section {
    background-color: #f4f4fd;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.team-main {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;  
    color: #2e2f42;
    text-align: center;
    margin-bottom: 72px;
}
.team-list {
    display: flex;
    gap: 24px;
}
.team-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
    
}
.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}
.team-card{
    background-color: #ffffff;  
    display: block;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    width: calc(100% - 72) / 4;
    
}
.portfolio {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    
}

.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}


.footer {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #2e2f42;
}
    
.footer .logo-footer {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
    text-decoration: none;
}
